<!doctype html>
<html lang="en">

    <head>
        
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        
        <title>Chat</title>
    
    </head>

    <body>
      
      <form method="POST">
        <pre></pre>
        <div class="container">
          
          <div class="row">
            <div class="col-sm-5">
              <img src="/static/images/llamita.JPG" class="rounded-circle" width="58" height="58" style="float: left;">
              <div style="font-size:30px;color:blue;font-weight: bold;">@luchalv</div>
              <nav>
                <ul class="nav nav-pills pull-right">
                  <li role="presentation" class="active"><a href="/logout">Logout</a></li>
                </ul>
              </nav>
            </div>
          
            <div class="col-sm-7">
              <div style="width:640px;height:65px;border:1px solid #c1cdcd;line-height:2em;font-size:30px;font-weight: bold;">@nose</div>
            </div>
          </div>
          
          <div class="row">
            <div class="col-sm-5">
              <div style="width:460px;height:65px;border:1px solid #c1cdcd;font-weight: bold;line-height:3em;">@nose jajaja</div>
              <div style="width:460px;height:65px;border:1px solid #c1cdcd;"></div>
              <div style="width:460px;height:65px;border:1px solid #c1cdcd;"></div>
              <div style="width:460px;height:65px;border:1px solid #c1cdcd;"></div>
              <div style="width:460px;height:65px;border:1px solid #c1cdcd;"></div>
              <div style="width:460px;height:65px;border:1px solid #c1cdcd;"></div>
              <div style="width:460px;height:65px;border:1px solid #c1cdcd;"></div>
              <div style="width:460px;height:65px;border:1px solid #c1cdcd;"></div>
            </div>
          
            <div class="col-sm-7">
              <div style="width:640px;height:350px;border:1px solid #838b8b;"></div>
                <input style="width:640px;height:100px;border:1px solid #c1cdcd;" type="text" class="form-control" name="message" placeholder="Write a message">
                <button id="clickButton" type="submit" class="btn btn-primary" style="float: right;">ENVIAR</button>
            </div>
          </div>
        </div>
      </form>
    </body>
</html>